html, body {
    overflow: auto;
}

/* HEADER */
header {
    text-align: center;
}

.fa-power-off, #deconnectButton {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

#signOut {
    margin: 0;
}

#deconnectButton:hover {
    text-decoration: underline;
}

/* SIDEBAR */
.sidebar {
    height: auto;
    background-color: #3c434f;
    padding: 0;
}

.sidebar nav {
    margin-top: 20px;
}

.sidebar h2 {
    text-align: center;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 130px;
}

.sidebar li {
    padding: 30px;
    border-bottom: 1px white;
    font-size: 1.25em;
}

.sidebar li:hover {
    background-color: #25272b;
}

.sidebar a {
    color: white;
}

.sidebar a:hover {
    color: #3273dc;
    text-decoration: none;
}

/* PAGE */

.container {
    max-width: none;
    min-height: 48em;
    margin-left: 0;
    margin-right: 0;
    background-color: #d9e6fc;
}

.row {
    margin-right: 0;
    overflow: auto;
}

.col-sm-6 {
    margin-bottom: 50px;
}

.content {
    min-height: 52em;
}

.content h2 {
    margin-top: 20px;
}

.pageTitle {
    margin-top: 20px;
    text-align: center;
}

.pageTitle i {
    font-size: xx-large;
}

.pageTitle h2 {
    margin-top: 10px;
}

.addChapterDivItem .tox-tinymce {
    height: 350px !important;
    margin-bottom: 30px;
}

.modifyChapterContent .tox-tinymce {
    height: 340px !important;
    margin-bottom: 30px;
}

.tox-notifications-container {
    display: none !important;
}

.tox-menubar, .tox-mbtn tox-mbtn--select, .tox-menubar button, .tox-toolbar {
    height: 25px !important;
    margin: 0 0 0 0 !important;
}

.tox-tbtn {
    margin: 0 0 0 0 !important;
    height: 20px !important;
}

.tox-toolbar__group {
    height: 10px !important;
}

.tox-toolbar__primary {
    height: 25px !important;
}

.tox-statusbar__branding, .tox-statusbar__resize-handle {
    display: none !important;
}

/* PAGE D'ACCUEIL */

.homeTitle {
    text-align: center;
}

.homeLogos {
    margin-top: 150px;
    text-align: center;
}

.paraLogo {
    font-size: 50px;
}

.paraText {
    font-size: 25px;
}

.linkSpanner {
    height: 100%;
    width: 100%;
}




/* PAGE AJOUT CHAPITRE */

.addChapterDiv {
    margin-top: 115px;
}

.addChapterDivItem {
    margin-bottom: 30px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.error {
    font-size: 0.6em;
    font-style: italic;
}

#addChapterOrder {
    width: 35px;
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}

#addChapterTitle {
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}

#addChapterContent {
    width: 100%;
    height: 180px;
    border-radius: 3px;
    resize: none;
}

#addChapterButton {
    width: 80px;
    padding: 5px;
    background-color: #3273dc;
    color: white;
    border-style: none;
    border-radius: 3px;
}

#addChapterButton:hover {
    background-color: #191f51;
}

.addedChapterDiv {
    margin-top: 115px;
}

.addingConfirmation a {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* PAGE MODIFICATION/SUPPRESSION CHAPITRE */
.listChaptersAdmin {
    margin-top: 115px;
    margin-bottom: 18pc;
}

.listChaptersAdmin select {
    width: 400px;
}

.modifyChapterDiv {
    margin-top: 80px;
}

.modifyItem {
    margin-bottom: 15px;
}

.modifyChapterImg img {
    width: 200px;
}

#imgFileModification {
    margin-top: 10px;
}

#modifyChapterTitle {
    border-radius: 3px;
    border: 1px solid #a9a9a9;
}

#chapterText {
    width: 100%;
    height: 380px;
    margin-bottom: 60px;
    border-radius: 3px;
    resize: none;
}

.modifyChapterItemButtons {
    margin-top: 100px;
    margin-bottom: 0px;
}

#modifyButton {
    width: 100px;
    position: absolute;
    bottom: 35px;
    margin-right: 10px;
    padding: 5px;
    color: white;
    background-color: #3273dc;
    border-style: none;
    border-radius: 3px;
}

#modifyButton:hover {
    background-color: #191f51;
}

#deleteButton {
    width: 100px;
    position: absolute;
    left: 135px;
    bottom: 35px;
    padding: 5px;
    color: white;
    background-color: red;
    border-style: none;
    border-radius: 3px;
}

#modificationCaution {
    position: absolute;
    bottom: 0;
    font-size: small;
}

.editConfirmation {
    margin-top: 115px;
}

/* PAGE MODIFICATION COMMENTAIRE */
#commentText {
    width: 100%;
    height: 200px;
    border-radius: 3px;
    resize: none;
    margin-top: 30px;
}

.listComments, .listReportedComments, .selectedComment {
    margin-top: 120px;
}

.listComments a, .listReportedComments a {
    font-size: 0.8em;
}

.modifyCommentItemButtons {
    margin-bottom: 0px;
}


/* FOOTER */
footer {
    position: relative;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0px;
    text-align: center;
    background-color: #3c434f;
    clear: both;
}

.footerLinks {
    display: inline;
}

#logOutFormFooter {
    display: inline;
}

.copyright {
    margin-bottom: 0;
}


/* PAGE IDENTIFICATION ADMIN */
.signInContainer {
    height: 90vh;
    margin: 20px;
}

.websiteLink, .websiteLink:visited {
    color: #3273dc;
}

.websiteLink:hover {
    color: #191f51;
}

.signInDiv {
    text-align: center;
}

.signInDiv input {
    width: 300px;
    margin-bottom: 10px;
}

.passwordDiv, .validAdmin {
    display: block;
}

.usernameDiv input, .passwordDiv input {
    font-size: 1.5em;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 6px;
}

.usernameDiv input:focus, .passwordDiv input:focus {
    border: 1px solid #3273dc;
    border-radius: 6px;
    outline: none;
}

.validAdmin input {
    height: 35px;
    color: white;
    background-color: #3273dc;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
}

.validAdmin input:hover {
    background-color: #191f51;
}

.div404Admin {
    text-align: center;
}