/* RESET ? 
*/

/* POLICES UTILISEES */
@font-face {
    font-family: 'hind_light';
    src: url('../fonts/hind/hind_light/hind-light-webfont.eot');
    src: url('../fonts/hind/hind_light/hind-light-webfont.eot#iefix') format('embedded-opentype'),
         url('../fonts/hind/hind_light/hind-light-webfont.woff') format('woff'),
         url('../fonts/hind/hind_light/hind-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'hind_regular';
    src: url('../fonts/hind/hind_regular/hind-regular-webfont.eot');
    src: url('../fonts/hind/hind_regular/hind-regular-webfont.eot#iefix') format('embedded-opentype'),
         url('../fonts/hind/hind_regular/hind-regular-webfont.woff') format('woff'),
         url('../fonts/hind/hind_regular/hind-regular-webfont.ttf') format('truetype');
}

body {
    font-family: 'hind_light', 'hind_regular';
    margin: 0;
}


/* TITRE ET NOM DE L'AUTEUR */
header {
    text-align: center;
    background-color: black;
    color: white;
}

header h1 {
    font-size: 2em;
    font-weight: bold;
}

#bookAuthor {
    font-size: 1.25em;
}

/* MENU */
ul.menu {
    display: -webkit-inline-box;
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.menu li {
    margin: 0.2em 0.5em 0.2em 0.5em;
}

.menu a:hover {
    color: white;
}

.nav-item select {
    font-family: 'hind_light', 'hind_regular';
}

.chapterSelection {
    font-size: 1em;
    color: #3273dc;
    background-color: black;
    border: none;
    cursor: pointer;
}

.chapterSelection:hover {
    color: white;
}

.selection {
    cursor: pointer !important;
    color: #3273dc;
}

.selection:hover {
    cursor: pointer !important;
}



/* AFFICHAGE DE LA LISTE DES CHAPITRES */
.row {
    margin: 20px !important;
}

.borderedText {
    border: 4px double black;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}

#imgChapitre {
    width: 20%;
}

/*.card-block {
    width: 100%;
}*/

.textContent {
    margin: 5px;
}

.listChapters h3 {
    margin: 5px;
    font-size: 1.17em;
    font-weight: bold;
}


/* FOOTER */
footer {
    position: absolute;
    width: 100%;
    text-align: center;
}


/* PAGE CHAPITRE */
.chapterDiv {
    margin: 8px;
}

#nextChapter {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.17em;
    color: #3273dc;
}

#nextChapter a:hover {
    color: #191f51;
    text-decoration: underline;
}


/* COMMENTAIRE */
.commentsDiv {
    margin: 8px;
}

.commentsDiv h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: .83em 0;
}

#author {
    border: 1px #515151 solid;
    border-radius: 3px;
    display: flex;
}

#comment {
    resize: none;
    border: 1px #515151 solid;
    border-radius: 3px;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 5px;
}


#addButton {
    width: 100px;
    margin-top: 20px;
    padding: 5px;
    font-family: 'hind_light';
    font-size: 0.85em;
    color: #515151;
    background-color: white;
    border: 2px #515151 solid;
    border-radius: 3px;
    cursor: pointer;
}

#addButton:hover {
    color: #333333;
    text-decoration: underline;
    border: 2px #333333 solid;
}

.commentDiv {
    margin-bottom: 10px;
    border: 1px solid #515151;
    border-radius: 5px;
}
.commentDiv p {
    margin: 10px;
}

#reportParaph a {
    font-size: 0.75em;
    color: #515151;
}

#reportParaph a:hover {
    color: #333333;
    text-decoration: underline;
}

/* PAGE AUTEUR */
.authorBio h2 {
    margin: 5px;
}

.authorBio img {
    width: 20%;
}

.authorAmazon {
    margin: 15px;
    padding: 5px;
}




/* PAGE CONTACT */

.contactForm {
    height: 60%;
    width: 20%;
    margin-top: 5%;
    text-align: center;
    padding: 15px;
    border-radius: 5px;
    background-color: rgba(156, 156, 156, 0.7);
}

.contactForm input, .contactForm textarea {
    width: 100%;
    margin-top: 1em;
    border-style: none;
    border-radius: 3px;
}

#contactTitle {
    margin : 0;
}


/* PAGE IDENTIFICATION ADMIN */

.signInContainer {
    height: 90vh;
    margin: 20px;
}

.signInDiv {
    text-align: center;
}

.signInDiv input {
    width: 300px;
    margin-bottom: 10px;
}

.usernameDiv input, .passwordDiv input {
    font-size: 1.5em;
    border: 1px solid grey;
    border-radius: 6px;
}

.usernameDiv input:focus, .passwordDiv input:focus {
    border: 1px solid #3273dc;
    border-radius: 6px;
    outline: none;
}

.validAdmin input {
    height: 35px;
    color: white;
    background-color: #3273dc;
    border-style: none;
    border-radius: 6px;
    cursor: pointer;
}

.validAdmin input:hover {
    background-color: #191f51;
}













@media screen and (min-width: 1088px) {
    .container {
        max-width: unset;
        width: unset;
    }
}