/* RESET ? 
*/

/* POLICES UTILISEES */
@font-face {
    font-family: 'hind_light';
    src: url('../fonts/hind/hind_light/hind-light-webfont.eot');
    src: url('../fonts/hind/hind_light/hind-light-webfont.eot#iefix') format('embedded-opentype'),
         url('../fonts/hind/hind_light/hind-light-webfont.woff') format('woff'),
         url('../fonts/hind/hind_light/hind-light-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'hind_regular';
    src: url('../fonts/hind/hind_regular/hind-regular-webfont.eot');
    src: url('../fonts/hind/hind_regular/hind-regular-webfont.eot#iefix') format('embedded-opentype'),
         url('../fonts/hind/hind_regular/hind-regular-webfont.woff') format('woff'),
         url('../fonts/hind/hind_regular/hind-regular-webfont.ttf') format('truetype');
}

@font-face {
    font-family: 'garogier';
    src: url('../fonts/garogier/garogier-webfont.eot');
    src: url('../fonts/garogier/garogier-webfont.eot#iefix') format('embedded-opentype'),
         url('../fonts/garogier/garogier-webfont.woff') format('woff'),
         url('../fonts/garogier/garogier-webfont.ttf') format('truetype');
}

body {
    font-family: 'hind_light', 'hind_regular';
    margin: 0;
}


/* TITRE ET NOM DE L'AUTEUR */
header {
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    z-index: 100;
}

#bookTitle {
    font-size: 2em;
    font-weight: bold;
}

header h1, h2 {
    font-family: 'garogier', 'hind_light', 'hind_regular';
}

#bookAuthor {
    font-size: 1.25em;
}

/* MENU */
ul.menu {
    display: -webkit-inline-box;
    list-style-type: none;
    padding-inline-start: 0;
    margin-bottom: 0;
}

.menu li {
    margin: 0.2em 0.5em 0.2em 0.5em;
}

.menu a:hover {
    color: white;
}

.nav-item select {
    text-align: center;
    text-align-last: center;
    font-family: 'hind_light', 'hind_regular';
}

.chapterSelection {
    font-size: 1em;
    color: #3273dc;
    background-color: black;
    border: none;
    cursor: pointer;
}

.chapterSelection:hover {
    color: white;
}

.selection {
    cursor: pointer !important;
    color: #3273dc;
}

.selection:hover {
    cursor: pointer !important;
}

/* TEMPLATE */
.container {
    min-height: 94vh;
    padding-top: 110px;
}

/* FOOTER */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
}


/* AFFICHAGE DE LA LISTE DES CHAPITRES */
.row {
    margin: 20px !important;
}

.borderedText {
    border: 4px double #515151;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}

#imgChapitre {
    width: 20%;
}

.textContent {
    margin-top: 5px;
}

.textContent a:hover {
    color: #3273dc;
    text-decoration: underline;
}

.listChapters h3 {
    margin: 5px 0 5px 0;
    font-size: 1.17em;
    font-weight: bold;
}


/* PAGE CHAPITRE */
.chapterDiv {
    margin: 8px;
    margin-bottom: 50px;
}

.imgDiv {
    text-align: center;
}

.imgDiv img {
    width: 40%;
}

#goToComments {
    margin-left: 80%;
    font-family: 'hind_light';
}

#nextChapter {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 1.17em;
    color: #3273dc;
}

#nextChapter a:hover {
    color: #191f51;
    text-decoration: underline;
}

#endChapter {
    margin-top: 30px;
}


/* COMMENTAIRE */
.commentsDiv {
    position: relative;
    margin: 8px;
}

#target {
    position: absolute;
    top: -120px;
}

.commentsDiv h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin-bottom: 10px;
}

#commentForm {
    margin-bottom: 50px;
}

.postedComments {
    margin-bottom: 30px;
}

#author {
    border: 1px #515151 solid;
    border-radius: 3px;
    display: flex;
}

#comment {
    resize: none;
    border: 1px #515151 solid;
    border-radius: 3px;
    width: 100%;
    height: 100px;
    display: flex;
    margin-bottom: 5px;
}


#addButton {
    width: 100px;
    margin-top: 20px;
    padding: 5px;
    font-family: 'hind_light';
    font-size: 0.85em;
    color: #515151;
    background-color: white;
    border: 2px #515151 solid;
    border-radius: 3px;
    cursor: pointer;
}

#addButton:hover {
    color: #333333;
    text-decoration: underline;
    border: 2px #333333 solid;
}

.commentDiv {
    margin-bottom: 10px;
    border: 1px solid #515151;
    border-radius: 5px;
}
.commentDiv p {
    margin: 10px 10px 5px 10px;
}

.commentDiv form {
    margin: 0px 0px 5px 5px;
}

.commentDiv button {
    font-size: 0.75em;
    border-style: none;
    color: #515151;
    background-color: white;
}

.commentDiv button:hover {
    cursor: pointer;
    color: #333333;
    text-decoration: underline;
}

.commentDiv input {
    display: none;
}

.commentsDiv span {
    font-size: 0.75em;
}


/* PAGE AUTEUR */
.authorBio h2 {
    margin: 5px;
}

.authorBio img {
    width: 20%;
}

.authorAmazon {
    margin: 15px;
    padding: 5px;
}

/* PAGE ERREUR */
.div404 {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 10%;
}

.div404 p {
    margin-top: 20px;
}

#warningSign404 {
    margin-top: 0;
    font-size: 3.5em;
    color: black;
}

@media screen and (max-width: 1088px) {
    .container {
        max-width: unset;
        width: unset;
    }

    #goToComments {
        margin-left: 75%;
        font-size: 0.85em;
    }
}

@media screen and (max-width: 620px) {
    .row {
        margin: 5px !important;
    }

    .borderedText {
        margin: 5px;
        margin-bottom: 20px;
    }

    #imgChapitre {
        width: 100%;
    }

    .listChapters h3 {
        margin: 0;
        font-size: 1.17em;
        font-weight: bold;
    }

    .listChapters .textContent {
        margin: 0;
        margin-top: 5px;
    }

    .listChapters h3 {
        font-size: 1em !important;
    }

    .chapterDiv .imgDiv img {
        width: 100%;
    }

    #goToComments {
        margin-left: 60%;
        font-size: 0.75em;
    }

    .authorBio img {
        width: 100%;
    }

    .authorBio h3 {
        font-size: 1.5em;
    }

    .authorAmazon {
        margin: 5px;
    }
}

@media screen and (max-height: 450px) {
    #bookAuthor {
        display: none;
    }

    .container {
        padding-top: 80px;
    }

    .borderedText {
        margin: 0;
    }

    #imgChapitre {
        width: 35%;
    }

    .card-block p {
        font-size: 0.9em;
    }
}

@media screen and (max-width: 360px) {
    #bookTitle {
        font-size: 1.4em;
    }

    #bookAuthor {
        font-size: 1em;
    }

    .menu {
        font-size: 0.8rem;
    }

    .container {
        padding-top: 85px;
    }

    .card-block p {
        font-size: 0.9em;
    }

    #goToComments {
        margin-left: 55%;
        font-size: 0.7em;
    }
}