@font-face {
    font-family: 'hindlight';
    src: url('hind-light-webfont.eot');
    src: url('hind-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('hind-light-webfont.woff2') format('woff2'),
         url('hind-light-webfont.woff') format('woff'),
         url('hind-light-webfont.ttf') format('truetype'),
         url('hind-light-webfont.svg#hindlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

